# TensorFlow (GPU-compatible version, update as needed)
tensorflow==2.4.4

# PyTorch + torchvision (adjust versions per CUDA support)
torch==1.12.0
torchvision==0.13

urllib3==1.26.7
protobuf==3.20.*

# Core
numpy<1.24   #==1.19.2
pandas
scikit-image
matplotlib
seaborn
opencv-python-headless
Pillow
tqdm
python-dotenv

# Kaggle support
kaggle
kagglehub

# NIfTI + medical imaging
nibabel
nilearn
git+https://github.com/miykael/gif_your_nifti


# Segment Anything dependencies
git+https://github.com/facebookresearch/segment-anything.git

# Optional: visualization
graphviz
pydot
